@charset "UTF-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
.ChatForm {
    position: relative;
    width: 400px;
    height: 600px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    
}


.container {
	position:relative;
    width: 630px;
    margin: auto;
    padding: 0px;
}

.container h1 {
    padding: 5px 5px 5px 15px;
    color: #F6F6F6;
    margin-bottom: 20px;
}

.chating {
	background-color: #F5F5F5;
    width: 500px;
    height: 550px;
    margin: auto;
    margin-bottom: 10px;
    overflow: auto;
    border-radius: 8px;
    padding:20px;

}

.chating .me {
    font-family:'Pretendard'; 
    font-size:20px;
    color: #ffc800;
    text-align: right;

}
.chating .others {
    font-family:'Pretendard'; 
    font-size:20px;
    color: #585858;
    text-align: left;
}
table.inputTable {
	 margin: auto;
}
input {
    margin-top: 12px;
    margin: auto;
    font-family:'Pretendard';
	padding-left:20px;
    font-size:20px;
    width: 350px;
    height: 56px;
    background: #F5F5F5;
    border-radius: 8px;
    border:0px;
}
#yourMsg {
    display: none;
}

.inputTable Button {
	
    margin-top: 0px;
    margin-left: 10px;
    font-family:'Pretendard'; 
    font-size:20px;
    color:#FFF6F6;
    background: #C7C7C7;
    border-radius: 8px;
    width: 135px;
    height: 56px;
    border:0px;

}