.Result-form {
    position: relative; z-index: 2;
    margin-top: 150px;
}
.Result-form h1 {
    font-family:'Pretendard'; 
    font-size: 32px; color: #7C7B7B;
    text-align: center;
}

.Result-form h3 {
    font-family:'Pretendard'; 
    font-size: 16px; color: #7C7B7B;
    text-align: center;
}

.btn-area {
    position: relative;
    margin-top: 10px;
    margin: auto;
    text-align: center;
    width: 1184px;
}
.button {
    position: relative;
    margin-top: 20px;
    margin-left: auto;
    background-color:#595959;
    color:#FFF6F6;
    font-size:18px;
    width: 250px;
    height: 56px;
    border-radius: 8px;  
}