@charset "UTF-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

a {
    font-family:'Pretendard'; 
    font-size: 20px;
	text-decoration: none;
	color:#585757;
}

.MyPage-Form {
	font-family:'Pretendard'; 
    padding-left: 24px;
    position: relative;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 1249px;
    height: 632px;
  
}
   
.MyProfile {
    
    float:left;
    margin-right:24px;
    margin-top:24px;
    width: 588px;
    height: 279px;
    border-style: solid;
    border-color: #E0E0E0;  
}  

div.Img {
    margin: 37px;
    float: left;
}	

div.title {
    margin-top: 37px;
    font-size:36px;
}

div.expalin {  
    margin-top: 32px;
    color:#7C7B7B;
    
}
.button {
    position: relative;
    margin-top: 35px;
    background-color:#595959;
    color:#FFF6F6;
    font-size:18px;
    width: 250px;
    height: 56px;
    border-radius: 8px;  
}
