<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script async src="//jsfiddle.net/jscodedev/ukqqvL9h/1/embed/"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- css -->
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/jh.css')}}">
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/sj_busmap.css')}}">
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/sj_modal.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.js') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">

</head>
<body style="margin-top:30px; width:70%; text-align:center; margin-left:auto; margin-right:auto;">

<!-- title -->
<div class="title" style="margin-top:15px;">
<!--
    <a href="/"><img style="margin-top:10px; margin-left:15px; float:left; width:45px; height:55px;" src="../../static/img/bus_logo.png" class="logo"></a>
-->
    <h3><b>{{lowStaionByUid[0].stnNm}}</b> 버스 도착 정보</h3>
</div>


<!-- 이미지 지도를 표시할 div 입니다 -->
<div class="map_wrap">
    <div id="map" style="margin-bottom:10px;width:100%;position:relative;overflow:hidden;width:100%;height:350px;border:10px solid #E4E8EE;border-radius:8px;margin-bottom:10px;"></div>
    <ul id="category">
        <li id="BK9" data-order="0">
            <span class="category_bg bank"></span>
            은행
        </li>
        <li id="PM9" data-order="2">
            <span class="category_bg pharmacy"></span>
            약국
        </li>
        <li id="CE7" data-order="4">
            <span class="category_bg cafe"></span>
            카페
        </li>
        <li id="CS2" data-order="5">
            <span class="category_bg store"></span>
            편의점
        </li>
    </ul>
</div>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5a4d02a1d8eaf5daed584823dcae3470&libraries=services"></script>


<!-- 테이블 -->
<div class="row" style="margin-top:30px;">
    <table id="example-table-1" border="1" class="table table-bordered table-hover text-center" style="text-align:center; width=80%;">

    <tr style="text-align:center;">
        <th style="text-align:center;">정류소 ID</th>
        <th style="text-align:center;">정류소명</th>
        <th style="text-align:center;">정류소번호</th></tr>
    <tr>
        <td>{{lowStaionByUid[0].stId}}</td>
        <td id="stnNm">{{lowStaionByUid[0].stnNm}}</td>
        <td>{{lowStaionByUid[0].arsId}}</td>
    </tr>

    </table>

    <table id="example-table-2" border="1"  class="table table-bordered table-hover text-center" style="text-align:center; width=80%;">
        <tr style="text-align:center;">
            <th style="text-align:center;">노선ID</th>
            <th style="text-align:center;">버스 번호</th>
            <th style="text-align:center;">첫차시간</th>
            <th style="text-align:center;">막차 시간</th>
            <th style="text-align:center;">배차 간격</th>
        </tr>
    {% for s in lowStaionByUid %}
        <tr>
            <td>{{s.busRouteId}}</td>
            <td>{{s.rtNm}}</td>
            <td>{{s.firstTm}}</td>
            <td>{{s.lastTm}}</td>
            <td>{{s.term}}</td>
        </tr>
    {% endfor %}
    </table>
</div>

<!-- 모달창 -->
<div class="container">
<!-- 모달창 전체 -->
  <div class="popup-wrap" id="popup">
    <div class="popup">
      <div class="popup-head">
          <span class="head-title">
            실시간 버스 정보</span>
      </div>

        <div class="popup-body">
        <div class="body-content">
        <!--<a href="/station/renewal"><img style="margin-top:10px; margin-left:15px; float:left; width:45px; height:55px;" src="../../static/img/renewal.png" class="logo"></a>-->
            <h5 class="today">{{lowStaionByUid[0].repTm1[:16]}}</h5>
              <div class="body-titlebox">
                <h3>{{lowStaionByUid[0].stnNm}}</h3>
              </div>
          <div class="body-contentbox">
              <table id="example-table-3" style="width:100%;" border="1" class="table table-bordered table-hover text-center">
                <tr><th>버스 번호</th>
                     <th>첫번째 도착예정 버스정보</th>
                     <th>두번째 도착예정 버스정보</th>
                </tr>
                  {% for i in range(lowStaionByUid | length) %}
                    <tr>
                        <td>{{lowStaionByUid[i].rtNm}}</td>
                        <td>{{lowStaionByUid[i].arrmsg1}}</td>
                        <td>{{lowStaionByUid[i].arrmsg2}}</td>

                    </tr>
                {% endfor %}
               </table>
            </div>
      <div class="popup-foot">
        <span class="pop-btn confirm" id="confirm">확인</span>
      </div>
    </div>
</div>
</div>
</div>
</div>

<!-- modal 관련 script  example-table-1-->
<script>
$(function(){
  $("#confirm").click(function(){
      modalClose();
      //컨펌 이벤트 처리
  });

  // 테이블1 눌렀을 때 모달창 나오도록 하는 함수
  $("#example-table-1").click(function(){
    $("#popup").css('display','flex').hide().fadeIn();
  });

  // 테이블2 눌렀을 때 모달창 나오도록 하는 함수
  $("#example-table-2").click(function(){
    $("#popup").css('display','flex').hide().fadeIn();
  });

  $("#close").click(function(){
      modalClose();
  });
  // fadeout 처리
  function modalClose(){
    $("#popup").fadeOut();
     location.reload();
  }
});
</script>



<div name="gpsX" id="gpsX" style="font-size:2px; color:white; text-align:center;">{{station_gps[0].gpsX}}</div>
<div name="gpsY" id="gpsY" style="font-size:2px; color:white; text-align:center;">{{station_gps[0].gpsY}}</div>

      <!-- 마커 관련 script -->
<script>
// 마커를 클릭했을 때 해당 장소의 상세정보를 보여줄 커스텀오버레이입니다
var placeOverlay = new kakao.maps.CustomOverlay({zIndex:1}),
    contentNode = document.createElement('div'), // 커스텀 오버레이의 컨텐츠 엘리먼트 입니다
    markers = [], // 마커를 담을 배열입니다
    currCategory = ''; // 현재 선택된 카테고리를 가지고 있을 변수입니다

// 위도, 경도를 나타내는 변수
var Lat = document.getElementById("gpsY").innerText; //위도
Lat = Number(Lat);
var Lng = document.getElementById("gpsX").innerText; //경도
Lng = Number(Lng);

var mapContainer = document.getElementById('map'), // 지도를 표시할 div
    mapOption = {
        center: new kakao.maps.LatLng(Lat, Lng), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };

// 지도 생성
var map = new kakao.maps.Map(mapContainer, mapOption);

// 커스텀 오버레이
// 장소 검색 객체를 생성합니다
var ps = new kakao.maps.services.Places(map);

// 지도에 idle 이벤트를 등록합니다
kakao.maps.event.addListener(map, 'idle', searchPlaces);

// 커스텀 오버레이의 컨텐츠 노드에 css class를 추가합니다
contentNode.className = 'placeinfo_wrap';

// 커스텀 오버레이의 컨텐츠 노드에 mousedown, touchstart 이벤트가 발생했을때
// 지도 객체에 이벤트가 전달되지 않도록 이벤트 핸들러로 kakao.maps.event.preventMap 메소드를 등록합니다
addEventHandle(contentNode, 'mousedown', kakao.maps.event.preventMap);
addEventHandle(contentNode, 'touchstart', kakao.maps.event.preventMap);

// 커스텀 오버레이 컨텐츠를 설정합니다
placeOverlay.setContent(contentNode);

// 각 카테고리에 클릭 이벤트를 등록합니다
addCategoryClickEvent();

// 엘리먼트에 이벤트 핸들러를 등록하는 함수입니다
function addEventHandle(target, type, callback) {
    if (target.addEventListener) {
        target.addEventListener(type, callback);
    } else {
        target.attachEvent('on' + type, callback);
    }
}

// 카테고리 검색을 요청하는 함수입니다
function searchPlaces() {
    if (!currCategory) {
        return;
    }

    // 커스텀 오버레이를 숨깁니다
    placeOverlay.setMap(null);

    // 지도에 표시되고 있는 마커를 제거합니다
    removeMarker();

    ps.categorySearch(currCategory, placesSearchCB, {useMapBounds:true});
}

// 장소검색이 완료됐을 때 호출되는 콜백함수 입니다
function placesSearchCB(data, status, pagination) {
    if (status === kakao.maps.services.Status.OK) {

        // 정상적으로 검색이 완료됐으면 지도에 마커를 표출합니다
        displayPlaces(data);
    } else if (status === kakao.maps.services.Status.ZERO_RESULT) {
        // 검색결과가 없는경우 해야할 처리가 있다면 이곳에 작성해 주세요

    } else if (status === kakao.maps.services.Status.ERROR) {
        // 에러로 인해 검색결과가 나오지 않은 경우 해야할 처리가 있다면 이곳에 작성해 주세요

    }
}

// 지도에 마커를 표출하는 함수입니다
function displayPlaces(places) {

    // 몇번째 카테고리가 선택되어 있는지 얻어옵니다
    // 이 순서는 스프라이트 이미지에서의 위치를 계산하는데 사용됩니다
    var order = document.getElementById(currCategory).getAttribute('data-order');



    for ( var i=0; i<places.length; i++ ) {

            // 마커를 생성하고 지도에 표시합니다
            var marker = addMarker(new kakao.maps.LatLng(places[i].y, places[i].x), order);

            // 마커와 검색결과 항목을 클릭 했을 때
            // 장소정보를 표출하도록 클릭 이벤트를 등록합니다
            (function(marker, place) {
                kakao.maps.event.addListener(marker, 'click', function() {
                    displayPlaceInfo(place);
                });
            })(marker, places[i]);
    }
}

// 마커를 생성하고 지도 위에 마커를 표시하는 함수입니다
function addMarker(position, order) {
    var imageSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_category.png', // 마커 이미지 url, 스프라이트 이미지를 씁니다
        imageSize = new kakao.maps.Size(27, 28),  // 마커 이미지의 크기
        imgOptions =  {
            spriteSize : new kakao.maps.Size(72, 208), // 스프라이트 이미지의 크기
            spriteOrigin : new kakao.maps.Point(46, (order*36)), // 스프라이트 이미지 중 사용할 영역의 좌상단 좌표
            offset: new kakao.maps.Point(11, 28) // 마커 좌표에 일치시킬 이미지 내에서의 좌표
        },
        markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imgOptions),
            marker = new kakao.maps.Marker({
            position: position, // 마커의 위치
            image: markerImage
        });

    marker.setMap(map); // 지도 위에 마커를 표출합니다
    markers.push(marker);  // 배열에 생성된 마커를 추가합니다

    return marker;
}

// 지도 위에 표시되고 있는 마커를 모두 제거합니다
function removeMarker() {
    for ( var i = 0; i < markers.length; i++ ) {
        markers[i].setMap(null);
    }
    markers = [];
}

// 클릭한 마커에 대한 장소 상세정보를 커스텀 오버레이로 표시하는 함수입니다
function displayPlaceInfo (place) {
    var content = '<div class="placeinfo">' +
                    '   <a class="title" href="' + place.place_url + '" target="_blank" title="' + place.place_name + '">' + place.place_name + '</a>';

    if (place.road_address_name) {
        content += '    <span title="' + place.road_address_name + '">' + place.road_address_name + '</span>' +
                    '  <span class="jibun" title="' + place.address_name + '">(지번 : ' + place.address_name + ')</span>';
    }  else {
        content += '    <span title="' + place.address_name + '">' + place.address_name + '</span>';
    }

    content += '    <span class="tel">' + place.phone + '</span>' +
                '</div>' +
                '<div class="after"></div>';

    contentNode.innerHTML = content;
    placeOverlay.setPosition(new kakao.maps.LatLng(place.y, place.x));
    placeOverlay.setMap(map);
}


// 각 카테고리에 클릭 이벤트를 등록합니다
function addCategoryClickEvent() {
    var category = document.getElementById('category'),
        children = category.children;

    for (var i=0; i<children.length; i++) {
        children[i].onclick = onClickCategory;
    }
}

// 카테고리를 클릭했을 때 호출되는 함수입니다
function onClickCategory() {
    var id = this.id,
        className = this.className;

    placeOverlay.setMap(null);

    if (className === 'on') {
        currCategory = '';
        changeCategoryClass();
        removeMarker();
    } else {
        currCategory = id;
        changeCategoryClass(this);
        searchPlaces();
    }
}

// 클릭된 카테고리에만 클릭된 스타일을 적용하는 함수입니다
function changeCategoryClass(el) {
    var category = document.getElementById('category'),
        children = category.children,
        i;

    for ( i=0; i<children.length; i++ ) {
        children[i].className = '';
    }

    if (el) {
        el.className = 'on';
    }
}






// <사용자 컨트롤>
// 일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도타입 컨트롤을 생성합니다
var mapTypeControl = new kakao.maps.MapTypeControl();

// 지도에 컨트롤을 추가해야 지도위에 표시됩니다
// kakao.maps.ControlPosition은 컨트롤이 표시될 위치를 정의하는데 TOPRIGHT는 오른쪽 위를 의미합니다
map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);

// 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
var zoomControl = new kakao.maps.ZoomControl();
map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);

// <마커>
// 마커가 표시될 위치입니다
var markerPosition  = new kakao.maps.LatLng(Lat, Lng);

// 마커 이미지의 이미지 주소입니다
var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";

// 마커 이미지의 이미지 크기 입니다
var imageSize = new kakao.maps.Size(24, 35);

// 마커 이미지를 생성합니다
var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

// 마커를 생성합니다
var marker = new kakao.maps.Marker({
    position: markerPosition, //마커 표시할 위치
    image : markerImage // 마커 이미지
});

// 마커가 지도 위에 표시되도록 설정합니다
marker.setMap(map);

// <마커 클릭 이벤트>
// 마커를 클릭했을 때 마커 위에 표시할 인포윈도우를 생성합니다
var iwContent = '<div style="padding:8px; display:inline-block;">'+ document.getElementById("stnNm").innerText + '</div>', // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
    iwRemoveable = true; // removeable 속성을 ture 로 설정하면 인포윈도우를 닫을 수 있는 x버튼이 표시됩니다

// 인포윈도우를 생성합니다
var infowindow = new kakao.maps.InfoWindow({
    content : iwContent,
    removable : iwRemoveable
});

// 마커에 클릭이벤트를 등록합니다
kakao.maps.event.addListener(marker, 'click', function() {
      // 마커 위에 인포윈도우를 표시합니다
      infowindow.open(map, marker);
});
</script>

<a href="/">되돌아가기</a>
<br><br><br>
</body>
</html>