.ChatForm {
    position: relative;
    width: 1177px;
    height: 562px;
    margin: auto;
    margin-top: 110px;
    
}

.Chat_title {
    font-family:'Pretendard'; 
    font-size: 36px;
    margin-left: 24px;
    margin-right: -4px;
    
}

.Chat_title img {
    width: 40px;
    height: 40px;
}

.Chat_explain {
    font-family:'Pretendard'; 
    font-size: 18px;
    margin-top: 24px;
    margin-left: 24px;
    margin-bottom: 30px;
    color: #8A8A8A;
}

hr {
    width: 1177px;
    border: 1px solid #DDDDDD;
    margin-bottom: 30px;
}

* {
    margin:0;
    padding:0;
}

.container {
    width: 1069px;
    margin: 0 auto;
    padding: 25px
}

.container h1 {
    padding: 5px 5px 5px 15px;
    color: #F6F6F6;
    border-left: 3px solid #FFBB00;
    margin-bottom: 20px;
}

.chating {
	background-color: #F5F5F5;
    width: 1177px;
    height: 550px;
    margin: auto;
    margin-bottom: 10px;
    overflow: auto;

}

.chating .me {
    font-family:'Pretendard'; 
    font-size:20px;
    color: blue;
    text-align: right;

}
.chating .others {
    font-family:'Pretendard'; 
    font-size:20px;
    color: #585858;
    text-align: left;
}

input {
    margin-top: 12px;
    margin-left: 0px;
    margin-right:20px;
    font-family:'Pretendard';

    font-size:20px;
    width: 975px;
    height: 56px;
    background: #F5F5F5;
    border-radius: 8px;
    border:0px;
}
#yourMsg {
    display: none;
}

.inputTable Button {
	
    margin-top: 0px;
    margin-left: 30px;
    font-family:'Pretendard'; 
    font-size:20px;
    color:#FFF6F6;
    background: #C7C7C7;
    border-radius: 8px;
    width: 165px;
    height: 56px;
    border:0px;

}