<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="http://dapi.kakao.com/v2/maps/sdk.js?appkey=375195db5ac07f42a08c6c9f33e5f119&libraries=services,clusterer,drawing"></script>

	<!--google font-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;400;500;600&display=swap" rel="stylesheet">
	<title>슬기로운 동네생활 | 우리동네 약국 지도</title>
	</head>
	<body>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
		<!--LOGO-->
		<a class="navbar-brand" href="/">HOME</a>
		<!--Links-->
		<div class="container-fluid full-width">
		<ul class="nav navbar-nav">
		<li class="nav-item active">

		</li>
		<li class="nav-item">

		</li>

		</ul>
		<div>
		{% if session.flag == True %}
			<button class="btn btn-dark btn-right" type="button" onclick="location.href='/gallery/list'">갤러리</button>
			<button class="btn btn-dark btn-right" type="button" onclick="location.href='/board/list'">자유게시판</button>
			<button class="btn btn-dark btn-right" type="button" onclick="location.href='/member/myinfo'">마이페이지</button>
			<button class="btn btn-dark btn-right" type="button" onclick="location.href='/member/logout'">로그아웃</button>
		{% else %}
			<button class="btn btn-dark btn-right" type="button" onclick="location.href='/member/loginForm'">로그인</button>
            <button class="btn btn-dark btn-right" type="button" onclick="location.href='/member/join'">회원가입</button>
		{% endif %}

		</div>
	</nav>
	</div>

	<div style="text-align: center; margin-top:5%;">
		 <img src="{{ url_for('static', filename='img/homeLogo.png') }}">
	</div>

	<div style="text-align: center; font-family: 'IBM Plex Sans KR', sans-serif; ">
		<h6>우리 동네 주변 편의시설은 어디 있을까요? 아래 동네 지도를 이용해서 확인해보세요! </h6>
		<h6>원하는 종류의 지도가 없으면, 키워드 검색 지도를 클릭해서 원하는 검색어를 입력해보세요. </h6>

		<button type="button" class="btn btn-warning"  onclick="location.href='/map/health'">헬스장 지도</button>
		<button type="button" class="btn btn-warning"  onclick="location.href='/map/hospital'">동네 병원 지도</button>
		<button type="button" class="btn btn-warning"  onclick="location.href='/map/medicine'">동네 약국 지도</button>
		<button type="button" class="btn btn-warning"  onclick="location.href='/map/pet'">반려동물 병원 지도</button>
		<button type="button" class="btn btn-warning"  onclick="location.href='/map/box'">여성안심택배함 지도</button>
		<button type="button" class="btn btn-warning"  onclick="location.href='/map/keyword'">키워드 검색 지도</button>
	</div>

	<section style="text-align: center; font-family: 'IBM Plex Sans KR', sans-serif;">

		<h4 style="font-weight: 700; margin-top:2%; margin-bottom:2%;"> 우리 동네 약국 지도</h4>

	<div id="map" style="width:60%;height:500px; margin-top: -20%; margin:0 auto; border:10px solid #FCDAC0;"></div>
		<script>
				var infowindow = new kakao.maps.InfoWindow({zIndex:1});

				var mapContainer = document.getElementById('map'), // 지도를 표시할 div
					mapOption = {
						center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
						level: 5 // 지도의 확대 레벨
					};

				// 지도를 생성합니다
				var map = new kakao.maps.Map(mapContainer, mapOption);

				// 장소 검색 객체를 생성합니다
				var ps = new kakao.maps.services.Places();

				// 키워드로 장소를 검색합니다
				ps.keywordSearch('송파구 약국', placesSearchCB);

					// 키워드 검색 완료 시 호출되는 콜백함수 입니다
					function placesSearchCB (data, status, pagination) {
						if (status === kakao.maps.services.Status.OK) {

							// 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
							// LatLngBounds 객체에 좌표를 추가합니다
							var bounds = new kakao.maps.LatLngBounds();

							for (var i=0; i<data.length; i++) {
								displayMarker(data[i]);
								bounds.extend(new kakao.maps.LatLng(data[i].y, data[i].x));
							}
							// 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
							map.setBounds(bounds);
						}
					}

					function displayMarker(place) {
						var marker = new kakao.maps.Marker({
							map: map,
							position: new kakao.maps.LatLng(place.y, place.x)
						});

						 kakao.maps.event.addListener(marker, 'click', function() {
							infowindow.setContent('<div style="padding:5px;font-size:12px;">' + place.place_name + '</div>');
							infowindow.open(map, marker);
						});
					}
		</script>
	</section>

	<section style="margin-top:5%;"></section>
</body>
</html>
