@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@500&display=swap');

	header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 75px;
	padding: 1rem;
	color: white;
	background-color: #6495ED;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	align-items: center;
	}

	h1, p {
		margin: 0;
	}

	main {
		padding: 1rem;
		height: 100%;
	}

	nav span {
		font-weight: bold;
		list-style: none;
	}

	body {
		padding-top: 75px;
		background: white;
	}

	body, html {
		height: 100%;
	}

	menu.a {
		text-decoration: none;
		color:white;
	}

	* {
		box-sizing: border-box;
	}

	#first {
		margin-left: 15%;
		margin-right: 15%;
		padding-top: 75px;
	}

	#first h2 {
		font-family: 'Noto Serif KR', serif;
		padding-left: 5%;
		color: black;
	}

	#first h3 {
		font-family: 'Noto Serif KR', serif;
		color: white;
	}

	/* #first div {
		position: relative;
		border: 1px solid red; 
		float: left; 
		padding: 10px; 
		width: 25%; height: 200px;
		display: flex;
	} */

	.box {
	position: relative;
	float: left;
	width: 25%; height: 200px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.4)
	}
	.box img {
		position: absolute; top:0; left: 0;
		width: 100%;
		height: 100%;
	}

	.box .info {
		color: #fff;
		position: absolute; left: 0; bottom: 0;
		background: rgba(0,0,0,0.3);
		width: 100%; height: 100%;
		padding: 15px;
		box-sizing: border-box;
		opacity: 0;
		transition: opacity 0.35s ease-in-out;
	}
	.box:hover .info {
		opacity: 1;
	}
	.box .info h3 {
		font-size: 24px;
		padding-bottom: 0.4em;
		overflow:hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		text-transform: uppercase;
	}
	.box .info p {
		font-size: 20px;
		text-overflow: ellipsis;
		white-space: nowrap;
		text-transform: uppercase;
	}

	.content {
		width: 10%;
		padding-top: 20%;
	}

	.info a{
		text-decoration: none;
		color:white;
		padding-left: 90%;
		font-weight: bold;	
	}

	.btn {
		text-decoration: none;
		font-weight: bold;	
		color: white;
		background-color: #6495ED;
	}
