<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
		<!--LOGO-->
		<a class="navbar-brand" href="/">HOME</a>
		<!--Links-->
		<div class="container-fluid full-width">
		<ul class="nav navbar-nav">
		<li class="nav-item active">

		</li>
		<li class="nav-item">

		</li>
		</ul>
		<div>
		{% if session.flag == True %}
			<button class="btn btn-dark btn-right" type="button" onclick="location.href='/gallery/list'">갤러리</button>
			<button class="btn btn-dark btn-right" type="button" onclick="location.href='/board/list'">자유게시판</button>
			<button class="btn btn-dark btn-right" type="button" onclick="location.href='/member/myinfo'">마이페이지</button>
			<button class="btn btn-dark btn-right" type="button" onclick="location.href='/member/logout'">로그아웃</button>
		{% else %}
			<button class="btn btn-dark btn-right" type="button" onclick="location.href='/member/loginForm'">로그인</button>
            <button class="btn btn-dark btn-right" type="button" onclick="location.href='/member/join'">회원가입</button>
		{% endif %}

		</div>
	</nav>
	</div>

<section class="py-5">
      <div class="container px-4 px-lg-5 mt-5">
          <div class="justify-content-center">
<form action="/gallery/add" method="POST" enctype="multipart/form-data">
  	<fieldset>
	<div class="justify-content-center text-center">
	<h2>
	<legend>게시글 작성</legend>
    </h2>
	<br>
	<br>
	</div>

	<!-- 제목 -->
    <div class="form-group">
      <label class="form-label mt-4">제목</label>
      <input type="text" class="form-control" name="gall_title" required="required">
    </div>

	<!-- 작성자 -->
	<div class="form-group">
      <label class="form-label mt-4">아이디</label>
      <input type="text" class="form-control" name="gall_writer" value="{{session.login_id}}" readonly>
    </div>

    <!-- 내용 -->
    <div class="form-group">
      <label class="form-label mt-4">내용</label>
      <textarea class="form-control" name="gall_content" placeholder="500자 이내로 작성 가능합니다." rows="3" maxlength="501" required="required"></textarea>
    </div>

    <!-- 파일 업로드 -->
    <div class="form-group">
      <label class="form-label mt-4">사진</label>&nbsp
      <input type="file" name="gall_img">
    </div>
	<br>
	<br>
	<!-- 등록 / 취소 -->
	<div class="justify-content-center text-center">
    <input type="submit" value="등록" class="btn btn-primary">
	<a href="/list"><input type="button" value="취소" class="btn btn-light"></a>
	</div>
 	 </fieldset>
	</form>
                        </div>
                    </div>
</section>
</body>
</html>